<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div align="center">
	<h2>Welcome, <span><small><%= sessUname %></small></span></h2>
	<a href="student/upload">Give Exam</a> | <a href="student/examlist">Exam List</a> | <a href="/login">Log Out</a>
</div>

</body>
</html>